@page {
	margin: 0 !important;
	padding: 0 !important;

}
body {
	margin: 0 !important; padding: 0 !important;

	* {
		// color: #333;
		box-shadow: none !important;
		text-shadow: none !important;

	}
}

#impressume {

	&.wrap {
		border: none;
		width: 8.5in;
		height: 10in;
		padding-bottom: 0;

	}
	.grid-wrap main .job-list .job-item {
		.snail{
			font-size: .6rem !important;
		}
		h3.job-header{
			.role{
				color: #111 !important;
			}
			.place{
				color: #447cac !important;
			}

			.place,
			.role{
				font-size: .8rem !important;
			}
		}
		.job-details {
			p {
				margin-bottom: .5em;
			}
		}
	}

	.online-presence {
		// display: none;
		a {
			&:after {
				display: block;
				color: #666;
				font-weight: normal;
				content: attr(data-website-print);
				margin-bottom: .5em;

			}
		}

	}


	header {
		.top-info {
			padding-top: 2em;

			.contact-info {
				display: flex;
				flex-direction: row;
				justify-content: space-around;

				.phone, .email, .address-info {
					font-size: .8rem;
					text-align: center;

				}

			}
			.title {
				text-shadow: none !important;
				padding-bottom: 1rem;
				h1 {
					&:before{
						display: none;
					}
					span.kerning {
						color: #000;
						// color: $seafoam !important;
					}
					font-size: 2.3rem;

				}
				.subheader {
					font-weight: normal;
					color: #666;

				}
			}
		}
	}

	.headshot.large {
		$width : 150px;
	    position: absolute;
	    top: -85px;
	    width: $width;
	    height: $width;
	    overflow: hidden;
	    border-radius: 30% 30% 30% 0%;
	    right: 3rem;
	    z-index: 900;
	    left: 50%;
	    margin-left: -($width / 2);

	    img {
	    	width: 100%;
	    	position: relative;
	    	top: -10px;
	    	height: auto;
	    	filter: grayscale(100%);

	    }
	}
	.grid-wrap {
		display: grid;
		grid-template-columns: 190fr 100fr;
	
		h2 {
			color: #1d5474;
		}
		main {
			padding:  0em 1rem 1em 2rem;
			.job-list {
				> div,
				.job-item {
					padding: 0;
					margin: 0;
				}
				.job-item {
				
					.job-details {
						.when-and-where span em,
						.when-and-where span,
						.when-and-where {
							color: #666;
						}
						// border-color: #aaa;

					}
				}
			}
		}

		aside {
			display: block;
			padding: 5rem 1rem 0;

			.headshot.large {
				display: block;

			}
			.tagline {
				.short-text {
					font-size: .9rem;
					// border-color: #666;
					font-weight: normal;
					
				}
			}

			.skills-overview {
				.skills {
					.rating {
						.overlay {
							color: #aaa !important;

						}
					}
				}
			}
			.projects {
				.project-item {
					color: #333;

					a {
						&:after {
							display: block;
							color: #555;
							font-weight: normal;
							content: attr(data-project-print);
							margin-bottom: .5em;

						}
					}

				}
				
			}
		}
	}

	footer.bottom {
		.print-only {
			display: block;
		}
		.web-only {
			display: none;
		}
		padding-top: 0em;
		position: relative;
		background: none;
   		color: black;
   		visibility: visible;
		a {
			display: block;
			visibility: visible;
		 	color: #666;

		 }
	}
}