.grid-wrap {
	padding: 0 0rem 0;

	aside {
		padding: 0 1rem 1rem;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;

		section {
			flex: 1 1 auto;
			max-width: none;

			&.tagline {
				flex: none;

			}
		}
	}
}